
.gauges .player1{
    display:grid;
    grid-template-columns: repeat(10,50px);
    gap: 10px;
}

.player1{
    transform: rotate(0.5turn);
    margin-bottom: 50px;
}


.player2{
    display:grid;
    grid-template-columns: repeat(10,50px);
    gap: 10px;
    margin-top: 50px;
}

.active{
  background-color: blue;
}


button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
  
    border: none;
    text-align: center;
}

.gauges:focus {
    background-color: blue;
    outline: none;
}